* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.container{
	width: 100vw;
	height: fit-content;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
}

.nav-header{
	height: 10vh;
	width: fit-content;
	display: flex; 
	font-size: 1.5em;
	align-items: center;
}

.logo{
	height: 80%;
	margin: 5px;
}

.controls{
	display: flex;
}

.nav{
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 30px;
	font-size: 1.2em;
	color: black;
	border-bottom: solid white 5px;
}

.nav:hover{
	background: rgb(238, 237, 237);
	border-bottom: solid rgb(0, 74, 235) 5px;
}

.nav-signup{
	border-bottom: solid rgb(0, 74, 235) 5px;
}

.body{
    background: rgb(0, 74, 235);
	height: 90vh;
    width: 100vw;
	display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form{
    background: rgb(255, 255, 106);
    width: 500px;
    height: 600px;
    border: solid gray 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-image{
    height: 150px;
    margin: 20px;
}

.field{
    margin: 20px;
    padding: 10px;
    width: 370px;
    font-size: 1.2em;
    outline: none;
    border: 0px;
    background-color: white;
    border: solid white 2px;
}

.field:focus{
    border-bottom: solid gray 2px;
}

.firstname-field, .lastname-field{
    width: 175px;
    margin: 10px;
}

.signup-button{
    padding: 13px;
    margin: 20px;
    width: 110px;
    border-radius: 4px;
    border: 0px;
    background:white;
    border: solid gray 1px;
    color: black;
    font-size: 1.05em;
}

.signup-button:hover{
    cursor: pointer;
    background:rgb(199, 199, 199)
}