* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.container{
	width: 100vw;
	height: fit-content;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
    border-bottom: solid rgb(121, 119, 119) 1px;
}

.nav-header{
	height: 10vh;
	width: fit-content;
	display: flex; 
	font-size: 1.5em;
	align-items: center;
}

.logo{
	height: 80%;
	margin: 5px;
}

.controls{
	display: flex;
}

.nav{
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 30px;
	font-size: 1.2em;
	color: black;
	border-bottom: solid white 5px;
}

.nav:hover{
	background: rgb(238, 237, 237);
	border-bottom: solid rgb(0, 74, 235) 5px;
}

.nav-add{
    border: 0px;
    padding: 5px;
}

.nav-add:hover{
    border: 0px;
    cursor: pointer;
}

.nav-form-add{
    border: solid black 1px;
    height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 5px;
	font-size: 1.2em;
	color: black;
}

.invisible{
    display: none;
}

.subject-add{
    display: flex;
	justify-content: center;
	align-items: center;
}

.subject-field{
    outline: none;
    border: 0px;
    padding: 10px;
    margin: 5px;
    background: rgb(250, 250, 250);
}

.subject-field:focus{
    border-bottom: solid black 1px;
}

.add-subject-button{
    padding: 10px;
    background: rgb(0, 74, 235);
    border-radius: 5px;
    color: white;
    outline: none;
    border: 0px;
}

.add-subject-button:hover{
    background: rgb(0, 74, 235, 0.850);
    cursor: pointer;
}

.nav-logout{
    cursor: pointer;
}

.body{
	height: 90vh;
    width: 100vw;
	display: flex;
}

.left{
    padding: 20px;
    height: 90vh;
    width: 35vw;
    background: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right{
    height: 90vh;
    width: 65vw;
    background: red;
}

.right-bottom{
    padding: 20px;
}

.attendance-card{
    background: white;
    height: 130px;
    width: 240px;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    font-size: 1.3em;
    padding: 40px;
}

.attendance{
    transform: translate(50px, 20px);
    width: 150px;
    padding: 5px;
}

.Present{
    background: rgb(3, 255, 3);
}

.Absent{
    background: red;
}

.Holiday{
    background: rgb(0, 140, 255);
}